<html>
    <head>
        <title>Formulaire d'inscription Auto&Co</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Inscrivez-vous!</a></h1>
        </div>

        <div>
            <p>n'hésitez plus c'est gratuit</p>
            <h2><a href="">Vous etes : un producteur recherchant des consommateurs </a></h2>
            <p>Sachez que vos données sont protégés</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Vous etes : un consommateur cherchant un producteur d'énergie verte</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>